[Unit]
Description=Simple Webhook Listener
After=network.target

[Service]
ExecStart=/usr/bin/webhook -hooks /home/ubuntu/hooks.json -ip 0.0.0.0 -port 9000
Restart=always
User=root

[Install]
WantedBy=multi-user.target
